# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/

# Raw and heavy data artifacts
data/01_raw/*
!data/01_raw/.gitkeep

data/02_processed/*.parquet
data/02_processed/*.npz
*.pdf